# typing_extensions==4.11.0
dotenv
langchain
# langchain-anthropic
langchain_mistralai
langchain-ollama
ollama
langgraph
langgraph-supervisor
python-docx
pypdf
gradio
asyncio
crawl4ai
pydantic
operator
tavily-python